# 编译产物
build/
a.out
main
*.o
*.obj
*.exe

# CMake 生成文件
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
!CMakeLists.txt

# 程序生成的输出数据
bin/

# 文档
*.pdf

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
